<?xml version="1.0"?>
<config>
	<modules>
		<Cammino_Braspress>
			<version>0.1.0</version>
		</Cammino_Braspress>
	</modules>
	<global>
		<helpers>
			<camminobraspress>
				<class>Cammino_Braspress_Helper</class>
			</camminobraspress>
		</helpers>
		<models>
			<camminobraspress>
				<class>Cammino_Braspress_Model</class>
			</camminobraspress>
		</models>
		<sales>
			<shipping>
				<carriers>
					<camminobraspress>
						<class>Cammino_Braspress_Model_Carrier_Braspress</class>
					</camminobraspress>
				</carriers>
			</shipping>
		</sales>
	</global>
	<default>
		<carriers>
			<camminobraspress>
				<active>0</active>
				<sallowspecific>0</sallowspecific>
				<model>cammino_braspress_model_carrier_braspress</model>
				<name>camminobraspress</name>
				<title>Braspress</title>
				<freepac>0</freepac>
				<sort_order>0</sort_order>
				<showmethod>1</showmethod>
			</camminobraspress>
		</carriers>
	</default>
</config>
