<?xml version="1.0"?>
<config>
    <sections>
        <carriers>
            <groups>
                <camminobraspress translate="label" module="camminobraspress">
                    <label>Braspress</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <storecnpj translate="label">
                            <label>CNPJ da loja</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </storecnpj>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                        <length_field_name translate="label">
                            <label>Nome do campo de comprimento</label>
                            <comment>nome do atributo de comprimento do produto</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </length_field_name>
                        <width_field_name translate="label">
                            <label>Nome do campo de largura</label>
                            <comment>nome do atributo de largura do produto</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width_field_name>
                        <height_field_name translate="label">
                            <label>Nome do campo de altura</label>
                            <comment>nome do atributo de altura do produto</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </height_field_name>
                        <default_length translate="label">
                            <label>Comprimento padrão</label>
                            <comment>Informe o comprimento padrão de um único produto.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_length>
                        <default_height translate="label">
                            <label>Altura padrão</label>
                            <comment>Informe a altura padrão de um único produto.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_height>
                        <default_width translate="label">
                            <label>Largura padrão</label>
                            <comment>Informe o largura padrão de um único produto.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_width>
                        <defaultweight translate="label">
                            <label>Peso padrão</label>
                            <comment>Informe o peso padrão de um único produto.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </defaultweight>
                        <shipping_type translate="label">
                            <label>Tipo de Frete</label>
                            <frontend_type>select</frontend_type>
                            <source_model>camminobraspress/source_shippingType</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shipping_type>
                        <modal_type translate="label">
                            <label>Modal</label>
                            <frontend_type>select</frontend_type>
                            <source_model>camminobraspress/source_modalType</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </modal_type>
                        <weight_type translate="label">
                            <label>Peso</label>
                            <frontend_type>select</frontend_type>
                            <source_model>camminobraspress/source_weightType</source_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </weight_type>
                        <measure_type translate="label">
                            <label>Unidade de Medida dos Produtos</label>
                            <frontend_type>select</frontend_type>
                            <source_model>camminobraspress/source_measureType</source_model>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </measure_type>
                        <shippingdaysextra translate="label">
                            <label>Prazo Extra</label>
                            <comment>Informe a quantidade de dias extras para ser acrescentado ao prazo de entrega.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shippingdaysextra>
                        <debug translate="label">
                            <label>Ativar Debug</label>
                            <comment>logs no arquivo var/log/braspress.log</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>920</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug>
                    </fields>
                </camminobraspress>
            </groups>
        </carriers>
    </sections>
</config>